body {
  background-color: lightgray;
}

.links {
  margin-left: 5% !important;
}
.whiteblock {
  width: 5vw;
  height: 61vh;
  background-color: white;
}
.titleText {
  font-size: 2em;
  width: 50vw;
}
h1 {
  font-size: 55px;
  margin-top: 7vh;
  width: 20vw;
}
.whiteblock {
  position: relative;
  margin-left: 13vw;
}
.titleText {
  width: 19vw;
  display: flex;
  margin-left: 13vw;
  margin-top: 5vw;
}
.imageblock {
  position: absolute;
  margin-left: 12vw;
}

.skills {
    margin-left: 8%;
  position: absolute;
  margin-top: 3%;
  
}
.skill-one {
  margin-top: 10%;
  margin-left: 10%;
  width: 50vw;
  height: 2rem;
}
.skill-two {
  margin-top: 5px;
  margin-left: 10%;
  width: 50vw;
  height: 2rem;
}
.skill-three {
  margin-left: 10%;
  width: 50vw;
  margin-top: 5px;
  height: 2rem;
}
